<p id="notice"><%= notice %></p>

<h1>Arts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Picture</th>
      <th>Author</th>
      <th>Date</th>
      <th>Description</th>
      <th>Dimension</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arts.each do |art| %>
      <tr>
        <td><%= art.title %></td>
        <td><img src='<%= art.picture %>'</td>
        <td><%= art.author %></td>
        <td><%= art.date %></td>
        <td><%= art.description %></td>
        <td><%= art.dimension %></td>
        <td><%= link_to 'Show', art %></td>
        <td><%= link_to 'Edit', edit_art_path(art) %></td>
        <td><%= link_to 'Destroy', art, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Art', new_art_path %>
