<p id="notice"><%= notice %></p>

<p>
  <strong>Theme :</strong>
  <%= @art.theme.title %>
</p>

<p>
  <strong>Title :</strong>
  <%= @art.title %>
</p>

<p>
  <strong>Picture :</strong>
  <%= @art.picture %>
</p>

<p>
  <strong>Author :</strong>
  <%= @art.author %>
</p>

<p>
  <strong>Date :</strong>
  <%= @art.date %>
</p>

<p>
  <strong>Description :</strong>
  <%= @art.description %>
</p>

<p>
  <strong>Dimension :</strong>
  <%= @art.dimension %>
</p>

<%= link_to 'Edit', edit_art_path(@art) %> |
<%= link_to 'Back', arts_path %>
